[Unit]
Description=Geofence server daemon
Requires=geofence-server.service

[Service]
EnvironmentFile=/run/tizen-system-env
Type=single
ExecStart=/usr/bin/geofence-server
MemoryLimit=10M
Restart=always
RestartSec=1
