[Unit]
Description=Geofence server daemon
Requires=geofence-server.service

[Service]
EnvironmentFile=/run/tizen-system-env
Type=dbus
BusName=org.tizen.lbs.Providers.GeofenceServer
ExecStart=/usr/bin/geofence-server
MemoryLimit=10M
#Restart=always
#RestartSec=1
